* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;  
}
.w-25 {
  width: 15% !important;
}
body {
  min-height: 100%;  
  background: #eee;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

.container {
  max-width: 900px;   
  background: #fff;
  margin: 0px auto 0px; 
  box-shadow: 1px 1px 2px 2px #DAD7D7;
  border-radius: 4px;  
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.container2{
  margin-right: 400px;
  max-width: 350px;
}
.header {
  margin-bottom: 30px;
}
  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  
  .first-name {
    font-weight: 700;
  }
  
  .last-name {
    font-weight: 300;
  }
  
  .contact-info {
    margin-bottom: 20px;
  }
  
  .email ,
  .phone {
    color: #999;
    font-weight: 300;
  } 
  
  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }
  
  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }



.details {
  line-height: 20px;
}
  .section {
    margin-bottom: 40px;  
  }
  
  .section:last-of-type {
    margin-bottom: 0px;  
  }
  
  .section__title {
    letter-spacing: 0px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  
  .section__list-item {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .section__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  
  
  .name {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }
  
  a:hover {
    text-decoration: underline;
    color: #000;
  }
  
 
    
 
  
    .input {
      display: none;
    }
    
    .label {
      display: inline-block;  
      width: 20px;
      height: 20px;
      background: #C3DEF3;
      border-radius: 20px;
      margin-right: 3px;
    }
    
    .input:checked + label {
      background: #79A9CE;
    }
    .addDocumentsModal .modal-dialog {
      margin: auto !important;
      width: 75% !important;
      max-width: 75% !important;
      height: 75% !important;}

    .popup{
      margin: auto;
      padding: 10%;
      height: 75%;
      width: 50px;
    }
    








