<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="app.component.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
  <div class="header">
    <div class="full-name">
     <p class="first-name" th:text="${student.fullname}"></p> 
      <span class="last-name"> Kalva</span>
    </div>
    <div class="contact-info">
      <span class="email">Email: </span>
      <span class="email-val">saivamshi2@gmail.com</span>
      <span class="separator"></span>
      <span class="phone">Phone: </span>
      <span class="phone-val">9989999899</span>
    </div>
    
        <div>Work for an organization which provides me the opportunity to improve my skills and knowledge to grow along with the organization
          objective.
        </div> 
  </div>
   <div class="details">
    <div class="section">
      <div class="section__title">Experience</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Virtusa</div>
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
          
        </div>
      </div>
    </div>
  <div class="section">
      <div class="section__title">Education</div>
      <div class="section__list">
        <div class="section__list-item">
          <div class="left">
            <div class="name">Keshav Memorial Institute of technology</div>
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
          
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Sri Chaitanya College</div> 
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
        </div>
        <div class="section__list-item">
          <div class="left">
            <div class="name">Bhrungy International School</div>
            <div class="duration">Jan 2011 - Feb 2015</div>
          </div>
        </div>
      </div>  
  </div>
  <div class="section">
      <div class="section__title">Projects</div> 
       <div class="section__list">
         <div class="section__list-item">
           <div class="name">Creating Rest API for CRUD operations (Micro Project).</div>
         </div>
         
         <div class="section__list-item">
                    <div class="name">Inventory Management System (Micro Project).
                    </div>
          </div>
          <div class="section__list-item">
            <div class="name">California House Price Prediction using Machine Learning.

            </div>
  </div>
  <div class="section__list-item">
    <div class="name">Web Application to Buy and Sell Books using React and
      Spring(Major Project)
      
    </div>
</div>
         
       </div>
    </div>
     <div class="section">
       <div class="section__title">Skills</div>
       <div class="skills">
         <div class="skills__item">
           <div class="left">
            <div class="name">
             Java,C,Python,React,Mysql,HTML,CSS
             </div>
           </div>     
       </div>   
      </div>  
    </div>
    <div class="section">
      <div class="section__title">Languages Known</div>
      <div class="skills">
        <div class="skills__item">
          <div class="left">
           <div class="name">
            English, Telugu, Hindi
            </div>
          </div>     
      </div>   
     </div>  
   </div>
     <div class="section">
     <div class="section__title">
       Interests
       </div>
       <div class="section__list">
         <div class="section__list-item">
          <div class="name">
                  Football, programming.
                  </div>
          </div>
       </div>
     </div>
     </div>
  </div>

</html>